/*VARIABLES*/
:root {
  --website-header-border: #ececec;
  --first-word-logo: #000;
  --second-word-logo: #2196f3;
  --hover-focus: #000;
  --top-bar: #212121;
  --top-hover-focus: #2196f3;
  --top-contact-us: #757575;
  --body-color: #2f303a;
  --switch-layer: #fff;
  --bg-color: #2196f3;
  --bg-color-2: #f5f4fa;
  --border-color: #eeeeee;
  --fill: #fff;
  --font-size16: 16px;
}

/* START HEADER */
.header {
  border-bottom: 1px solid var(--website-header-border);
  max-width: 1600px;
  height: 80px;
  margin: auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header {
    max-width: 480px;
    height: 60px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header {
    max-width: 768px;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  .header {
    max-width: 1200px;
  }
}
.header__topbar-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header__topbar-contain {
    max-width: 480px;
    height: 60px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__topbar-contain {
    max-width: 768px;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  .header__topbar-contain {
    max-width: 1600px;
  }
}
.header__main-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-left: 15px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header__main-logo {
    font-size: 24px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__main-logo {
    font-size: 24px;
  }
}
.header__main-logo a {
  display: flex;
  color: var(--first-word-logo);
  text-decoration: none;
}
.header__main-logo a:hover, .header__main-logo a:focus {
  color: var(--hover-focus);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}
.header__main-logo a span {
  color: var(--second-word-logo);
}
.header__link--active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 2px;
  top: 44px;
  left: 0px;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}
.header__topbar-menu {
  list-style-type: none;
  margin: 0px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header__topbar-menu {
    display: none;
    margin: auto;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__topbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 60px;
  }
}
.header__topbar-menu li {
  display: inline-block;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__topbar-menu li {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}
.header__topbar-menu li:not(:last-child) {
  margin-right: 58px;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__topbar-menu li:not(:last-child) {
    margin-right: 0;
  }
}
.header__topbar-menu li a {
  font-weight: 500;
  font-size: 14px;
  color: var(--MainFontColor);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__topbar-menu li a:hover, .header__topbar-menu li a:focus {
  color: var(--top-hover-focus);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}
.header__link {
  position: relative;
  transition-duration: 500ms;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__link {
    display: inline;
    padding: 5px 0 5px 0;
  }
}
.header__link:hover, .header__link:focus {
  color: var(--bg-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.header__contact-us {
  list-style: none;
  padding-left: 364px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header__contact-us {
    display: none;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__contact-us {
    padding-left: 0;
    padding-right: 15px;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  .header__contact-us {
    padding-left: 0;
    padding-right: 15px;
  }
}
.header__contact-us a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--top-contact-us);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__contact-us a {
    justify-content: flex-start;
    font-size: 12px;
  }
}
.header__contact-us a:hover, .header__contact-us a:focus {
  color: var(--top-hover-focus);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}
.header__contact-us li {
  display: inline-block;
}
.header__contact-us li:last-child {
  padding-left: 50px;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .header__contact-us li:last-child {
    display: inline;
    padding-left: 0;
  }
}
.header__icon-top {
  fill: var(--top-contact-us);
}
.header__icon-top:hover, .header__icon-top:focus {
  fill: var(--top-hover-focus);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}
.header__icon-mail, .header__icon-phone {
  display: inline-flex;
  margin-right: 10px;
}

/* GLOBAL VALUES */
*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-device-width: 320px) {
  body {
    overflow-x: scroll;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    max-width: 480px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  body {
    max-width: 768px;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  body {
    max-width: 1200px;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}
@media only screen and (max-device-width: 320px) {
  .container {
    overflow-x: scroll;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    max-width: 450px;
    align-items: center;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 94px 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section {
    padding: 60px 0 60px 0;
  }
}

ul {
  margin: 0;
  padding: 0;
}

/* START CARD */
.card__switch {
  position: relative;
  height: 600px;
  background: var(--body-color);
}
.card__switch:after {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card__switch button {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background: var(--bg-color);
  font-weight: 700;
  font-size: var(--font-size16);
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--switch-layer);
  margin: auto;
  cursor: pointer;
  transition-duration: 500ms;
}
.card__switch button:hover, .card__switch button:focus {
  background-color: var(--bg-color-2);
  color: var(--bg-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}
.card #card__area {
  display: block;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.card__sentence {
  font-weight: 900;
  font-size: 44px;
  color: var(--switch-layer);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 40px;
}

/* START OF OUR-PROFILE */
.content .our-profile {
  max-width: 1200px;
  padding: 94px 0 0 0;
  margin: 0 auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content .our-profile {
    max-width: 480px;
    padding: 60px 0 0 0;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .content .our-profile {
    max-width: 768px;
    padding: 60px 0 0 0;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  .content .our-profile {
    max-width: 1200px;
  }
}
.content .our-profile__details {
  display: flex;
  justify-content: center;
  list-style: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content .our-profile__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .content .our-profile__details {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
.content .our-profile__detail {
  display: inline-block;
}
.content .our-profile__detail:not(:last-child) {
  margin-right: 30px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content .our-profile__detail:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .content .our-profile__detail:not(:last-child) {
    margin-right: 0;
  }
}
.content .our-profile__box {
  width: 270px;
  background: var(--fill);
  border-radius: 0px 0px 4px 4px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content .our-profile__box {
    width: 450px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .content .our-profile__box {
    width: 354px;
  }
}
.content .our-profile__iconbox {
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--bg-color-2);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content .our-profile__iconbox {
    width: 450px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .content .our-profile__iconbox {
    width: 354px;
  }
}
.content .our-profile__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: #2f303a;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content .our-profile__title {
    text-align: center;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .content .our-profile__title {
    text-align: center;
  }
}
.content .our-profile__content {
  color: var(--top-contact-us);
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content .our-profile__content {
    margin-bottom: 0;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .content .our-profile__content {
    margin-bottom: 0;
  }
}

/*START OF OUR-ACTIONS*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #actions__area {
    display: none;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #actions__area {
    display: none;
  }
}

.content .actions {
  max-width: 1200px;
  margin: 0 auto;
}
.content .actions h2 {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
}
.content .actions__img-list {
  height: 294px;
  display: flex;
  justify-content: left;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.content .actions__img-list-content {
  mix-blend-mode: normal;
  display: block;
  position: relative;
}
.content .actions__img-list-content > .actions__lable {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px 90px;
  color: var(--fill);
  background: rgba(47, 48, 58, 0.8);
  align-items: flex-end;
  margin: 0;
}

/* START TEAM */
.team {
  background-color: #f5f4fa;
  max-width: 1600px;
  margin: 0 auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team {
    max-width: 480px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .team {
    max-width: 768px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team__photo {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .team__photo {
    width: 354px;
    height: 374px;
  }
}
.team__join-us:focus {
  fill: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.team h2 {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team h2 {
    font-size: 28px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .team h2 {
    font-size: 28px;
  }
}
.team__details {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0;
  padding: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team__details {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .team__details {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.team__detail {
  list-style: none;
}
.team__box {
  width: 270px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team__box {
    width: 450px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .team__box {
    width: 354px;
    gap: 30px;
  }
}
.team__name {
  color: #212121;
  font-weight: 500;
  font-size: var(--font-size16);
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team__name {
    font-size: 14px;
    width: 450px;
    margin: 30px 0 10px 0;
  }
}
.team__position {
  color: var(--top-contact-us);
  font-size: var(--font-size16);
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 15px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team__position {
    font-size: 14px;
    width: 450px;
    margin: 10px 0 16px 0;
    padding: 0;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .team__position {
    font-weight: 400;
  }
}
.team__socialMedia {
  padding-bottom: 30px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team__socialMedia {
    padding: 0;
  }
}
.team__socialMedia .team__details {
  list-style: none;
  margin: 0;
  padding: 0 32px;
  gap: 0;
  width: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team__socialMedia .team__details {
    gap: 10px;
    padding: 0 32px 24px 32px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .team__socialMedia .team__details {
    gap: 10px;
  }
}
.team__socialMedia .team__detail {
  display: inline-flex;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .team__socialMedia .team__detail {
    margin-top: 0;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .team__socialMedia .team__detail {
    margin-top: 0;
  }
}
.team__socialMedia .team__detail {
  transition-duration: 500ms;
  border-radius: 50%;
}
.team__socialMedia .team__detail:focus, .team__socialMedia .team__detail:hover {
  background: rgba(255, 255, 255, 0.1);
  background: var(--bg-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  fill: var(--fill);
  outline: none;
}

/* START CLIENTS */
.clients {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .clients {
    max-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .clients {
    max-width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
  }
}
.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
  color: #212121;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .clients h2 {
    font-size: 28px;
    padding-bottom: 30px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .clients h2 {
    font-size: 28px;
    padding-bottom: 30px;
  }
}
.clients__details {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .clients__details {
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .clients__details {
    gap: 30px;
    flex-wrap: wrap;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  transition-duration: 500ms;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .clients__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}
.clients__link:focus, .clients__link:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}

/*START PORTFOLIO__BUTTONS*/
@media (min-width: 1200px) {
  .portfolio {
    max-width: 1200px;
  }
  .portfolio__buttons-bar {
    padding-bottom: 50px;
  }
  .portfolio__button-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .portfolio__button-detail {
    display: inline-block;
    list-style: none;
  }
  .portfolio__button-detail button[type=button] {
    font-weight: 500;
    font-size: var(--font-size16);
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background: #f5f4fa;
    border-radius: 4px;
    border: 0px;
    padding: 6px 22px;
    cursor: pointer;
    transition-duration: 500ms;
  }
  .portfolio__button-detail button[type=button]:hover, .portfolio__button-detail button[type=button]:focus {
    background: var(--top-hover-focus);
    color: var(--fill);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    outline: none;
  }
}
/*START PORTFOLIO__LABEL*/
.label__overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1200px;
  height: 100%;
  padding-top: 45px;
  transform: translateY(100%);
  transition: transform 1500ms;
  background: rgba(33, 150, 243, 0.9);
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .label__overlay {
    top: -20px;
    left: -12px;
  }
}
.label__photo {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.label__photo:focus .label__overlay, .label__photo:hover .label__overlay {
  transform: translateX(0);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms;
  transition-delay: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.label__text-overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--fill);
  padding: 0 24px 0 24px;
}
.label__details {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .label__details {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .label__details {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.label__detail {
  list-style: none;
  flex-basis: calc((100% - 90px) / 3);
  margin: 0;
  padding: 0;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .label__detail {
    height: 440px;
  }
}
.label__photo {
  width: 370px;
  height: 404px;
  position: relative;
  background: var(--mottoColor);
  border: 1px solid var(--border-color);
  border: none;
  margin: 0;
  overflow: hidden;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .label__photo {
    width: 450px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .label__photo {
    width: 354px;
    height: 440px;
  }
}
.label__photo__photo:focus .layer, .label__photo__photo:hover .layer {
  transform: translatex(0);
  outline: none;
}
.label__photo .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
}
.label__photo .layer p {
  color: var(--fill);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding-top: 49px;
  padding-left: 24px;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .label__photo .layer p {
    padding: 0;
    margin: 0;
  }
}
.label__photo figcaption {
  position: relative;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  background-color: var(--fill);
  height: 110px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .label__photo figcaption {
    width: 450px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .label__photo figcaption {
    width: 354px;
    height: 146px;
  }
}
.label__photo img {
  display: block;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .label__photo img {
    width: 450px;
    height: 294px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .label__photo img {
    width: 354px;
    height: 294px;
  }
}
.label__photo:focus, .label__photo:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}
.label__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
}
.label__keyword {
  font-size: var(--font-size16);
  line-height: 1.87;
  margin: 0;
  letter-spacing: 0.03em;
  color: var(--contactColor);
  padding-left: 24px;
  padding-top: 4px;
}
/* START FOOTER */
div {
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .container {
    max-width: 768px;
    align-items: center;
  }
}

.footer {
  background-color: #2f303a;
  height: 252px;
  margin: auto;
  max-width: 1600px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer {
    max-width: 480px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer {
    max-width: 768px;
  }
}
.footer__informations {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer__informations {
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: #2f303a;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__informations {
    max-width: 768px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.footer__informations .footer__social-media {
  padding-top: 72px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer__informations .footer__social-media {
    text-align: center;
    padding-top: 60px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__informations .footer__social-media {
    box-sizing: border-box;
    text-align: center;
    padding-top: 60px;
    padding-right: 72px;
  }
}
.footer__informations .footer__social-media .footer__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__informations .footer__social-media .footer__item {
    margin: 0 0 0 10px;
  }
}
.footer__informations .footer__social-media .footer__item a {
  text-decoration: none;
  transition-duration: 500ms;
}
.footer__informations .footer__social-media .footer__item:focus, .footer__informations .footer__social-media .footer__item:hover {
  background: var(--top-hover-focus);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}
.footer__main-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fill);
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer__main-logo {
    text-align: center;
    padding-top: 60px 0 20px 0;
    font-size: 24px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__main-logo {
    text-align: center;
    padding-top: 60px 0 20px 0;
    font-size: 24px;
  }
}
.footer__main-logo a {
  text-decoration: none;
  color: var(--fill);
}
.footer__main-logo a:focus {
  outline: none;
}
.footer__main-logo span {
  color: var(--top-hover-focus);
}
.footer__address {
  font-style: normal;
}
.footer__details {
  list-style: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.footer__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer__item {
    text-align: center;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__item {
    text-align: center;
  }
}
.footer__item:first-child {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fill);
}
.footer__item a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-duration: 500ms;
}
.footer__item a:hover, .footer__item a:focus {
  color: var(--top-hover-focus);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}
.footer__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fill);
  margin: 0;
  padding-bottom: 20px;
}
.footer__details {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__newsletter {
  padding-top: 72px;
}
@media only screen and (max-device-width: 320px) {
  .footer__newsletter {
    max-width: 290px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer__newsletter {
    text-align: center;
    max-width: 290px;
    text-align: center;
    padding: 60px 0 60px 0;
    flex: 100%;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__newsletter {
    text-align: center;
    padding: 60px 0 60px 0;
    flex: 100%;
    background-color: #2f303a;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  .footer__newsletter {
    padding-right: 15px;
  }
}
.footer__newsletter form {
  position: relative;
  display: inline-flex;
  gap: 12px;
}
@media only screen and (max-device-width: 320px) {
  .footer__newsletter form {
    max-width: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer__newsletter form {
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__newsletter form {
    max-width: 480px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.footer__newsletter-email {
  width: 358px;
  height: 50px;
  padding-left: 22px;
  color: #fff;
  background-color: var(--body-color);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  transition: transform 250ms ease-in, box-shadow 250ms ease-in;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__newsletter-email {
    min-width: 480px;
  }
}
.footer__newsletter-email:focus {
  outline: none;
}
.footer__newsletter-email::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer__newsletter-submit {
  width: 200px;
  height: 50px;
  background-color: var(--bg-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.06em;
  transition: transform 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.footer__newsletter-submit:hover + .footer__icon-send {
  transform: translate(20px, -10px) scale(0.9);
}
.footer__icon-send {
  position: absolute;
  right: 4%;
  top: 26%;
  width: 24px;
  height: 24px;
  fill: var(--fill);
  transition: transform 1000ms ease-out;
}
@media only screen and (max-device-width: 320px) {
  .footer__icon-send {
    right: 34%;
    top: 71%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer__icon-send {
    right: 24%;
    top: 71%;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__icon-send {
    right: 34%;
    top: 71%;
  }
}
.footer__media-details {
  display: inline-flex;
  text-decoration: none;
  fill: #fff;
  justify-content: center;
  align-items: center;
}
.footer__media-details:focus {
  fill: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.footer__icon {
  width: 20px;
  height: 20px;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .footer__contact-us {
    box-sizing: content-box;
    flex: 0 1 253px;
    padding-left: 46px;
    min-width: 253px;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  .footer__contact-us {
    padding-left: 15px;
  }
}

/* START OF BACKDROP */
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 500ms linear, visibility 500ms linear, opacity 500ms linear;
}
.backdrop--is-hidden {
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--fill);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop__close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--fill);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
}
.backdrop__close-modal:hover, .backdrop__close-modal:focus {
  color: var(--link-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}
.backdrop__icon-X {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backdrop__contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px;
  font-size: 12px;
}
.backdrop__contact-form label {
  position: relative;
  color: var(--top-contact-us);
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
}
.backdrop__contact-form h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.backdrop__contact-input, .backdrop__contact-input-comment {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 50px;
}
.backdrop__contact-input-comment {
  padding-left: 5px;
}
.backdrop__contact-input-comment:focus {
  outline: none;
  border: 1px solid var(--bg-color);
  padding-left: 5px;
  padding-top: 2px;
}
.backdrop__contact-input-comment:focus + svg {
  fill: #2196f3;
}
.backdrop__contact-input:focus {
  outline: none;
  border: 1px solid var(--bg-color);
  padding-left: 50px;
}
.backdrop__contact-input:focus + svg {
  fill: #2196f3;
}
.backdrop__contact-comment {
  height: 120px;
  resize: none;
}
.backdrop__contact-comment::placeholder {
  position: absolute;
  top: 16px;
  left: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
}
.backdrop__contact-cbox-label {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}
.backdrop__contact-cbox-label a {
  color: var(--bg-color);
  text-decoration: underline;
}
.backdrop__contact-cbox-label p {
  margin: 0;
}
.backdrop__contact-cbox {
  width: 18px;
  height: 18px;
  display: grid;
  place-content: center;
  margin: 0;
  margin-right: 8px;
  appearance: none;
  -webkit-appearance: none;
  transform: translateY(-0.075em);
  font: inherit;
  color: currentColor;
  background-color: #fff;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  cursor: pointer;
}
.backdrop__contact-cbox :checked {
  border-color: var(--bg-color);
}
.backdrop__contact-cbox::before {
  content: "";
  width: 18px;
  height: 18px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--bg-color);
  border-radius: 4px;
  background-color: var(--bg-color);
}
.backdrop__contact-cbox:checked::before {
  transform: scale(1);
}
.backdrop__icon-checked {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 15px;
  height: 16px;
  fill: var(--fill);
  cursor: pointer;
}
.backdrop__contact-icon {
  position: absolute;
  z-index: 2;
  left: 11px;
  top: 27px;
  width: 18px;
  height: 18px;
}
.backdrop__contact-submit {
  width: 140px;
  height: 50px;
  padding: 0;
  margin-top: 15px;
  align-self: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--bg-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: transform 500ms ease-out, box-shadow 500ms ease-out;
  cursor: pointer;
}
.backdrop__contact-submit:focus, .backdrop__contact-submit:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}

/* START BURGER */
.burger {
  width: 60px;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
@media screen and (min-device-width: 481px) {
  .burger {
    display: none;
  }
}
.burger__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  display: block;
  position: relative;
}
.burger__container li {
  list-style: none;
  width: 480px;
  padding: 0 15px 0 15px;
}
.burger__container a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-decoration: none;
  color: #212121;
  padding: 0;
}
.burger__container a:hover, .burger__container a:focus {
  color: var(--hover-focus);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
  cursor: pointer;
}
.burger__container input[type=checkbox]:checked ~ .burger__items {
  transform: translateX(-420px);
}
.burger__container input[type=checkbox]:checked ~ .burger__lines .line1 {
  transform: rotate(45deg);
}
.burger__container input[type=checkbox]:checked ~ .burger__lines .line2 {
  transform: scaleY(0);
}
.burger__container input[type=checkbox]:checked ~ .burger__lines .line3 {
  transform: rotate(-45deg);
}
.burger__container input[type=checkbox]:checked ~ .logo {
  display: none;
}
.burger__checkbox {
  position: absolute;
  display: block;
  height: 26px;
  width: 32px;
  top: 17px;
  left: 14px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}
.burger .burger__items {
  padding-top: 100px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 796px;
  width: 480px;
  transform: translate(100%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  background-color: #FFF;
}
.burger .burger__items li {
  margin-bottom: 32px;
  font-size: 1.5rem;
  font-weight: 500;
}
.burger__lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 14px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger__lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #000;
}
.burger__lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.burger__lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.burger__lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}/*# sourceMappingURL=main.css.map */