/*VARIABLES*/
@import 'utilis/variables.scss';

/* START HEADER */
@import 'components/header.scss';

/* GLOBAL VALUES */
@import 'components/global.scss';

/* START CARD */
@import 'components/card.scss';

/* START OF OUR-PROFILE */
@import 'components/our-profile.scss';

/*START OF OUR-ACTIONS*/
@import 'components/actions.scss';

/* START TEAM */
@import 'components/team.scss';

/* START CLIENTS */
@import 'components/clients.scss';

/*START PORTFOLIO__BUTTONS*/
@import 'components/portfolio__buttons.scss';

/*START PORTFOLIO__LABEL*/
@import 'components/label.scss';

/* START FOOTER */
@import 'components/footer.scss';

/* START OF BACKDROP */
@import 'components/backdrop.scss';

/* START BURGER */
@import "components/burger_menu.scss";