*,
*:before,
*:after 
{
    box-sizing: border-box;
}

ul 
{
    margin: 0;
    padding: 0;
}

body 
{
    font-family: "Roboto", sans-serif;
    // color: var(--body-color);
    margin: 0px;
    padding: 0px;
    

    @media only screen and (max-device-width: 320px) {
        overflow-x: scroll;
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        max-width: 450px;
    }
    
    
    @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
        max-width: 738px;
    }


    @media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
        max-width: 1200px;
    }
}

.container 
{
    max-width: 1200px;
    margin: auto;

        @media only screen and (max-device-width: 320px) {
            // background-color: blue;
            overflow-x: scroll;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            max-width: 450px;
            // background-color: green;
            align-items: center;
        }
    

        @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
            max-width: 738px;
            // background-color: orange;
        }
    

        @media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
            max-width: 1200px;
            // background-color: red;
        }
}

.section 
{
    padding: 94px 0;
}

ul 
{
    margin: 0;
    padding: 0;
}
