.header {
    border-bottom: 1px solid var(--website-header-border);
    max-width: 1600px;
    height: 80px;
    margin: auto;

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        max-width: 480px;
        height: 60px;
        // margin: auto;
    }

    @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
        max-width: 768px;
        // height: 80px;
        // margin: auto;
    }

    @media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
        max-width: 1200px;
        // height: 80px;
        // margin: auto;
    }

    // &__navigation-area {}

    &__topbar-contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin: auto;

        // Topbar - całkowita wysokość diva mobile:
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            max-width: 480px;
            height: 60px;
            // margin: auto;
        }

        // Header - całkowita wysokość diva tablet:
        @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
            max-width: 768px;
            // height: 80px;
            // margin: auto;
        }

        // Header - całkowita wysokość diva desktop:
        @media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
            max-width: 1600px;
            // height: 80px;
            // margin: auto;
        }
    }

    &__main-logo {
        font-family: "Raleway", sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.19;
        letter-spacing: 0.03em;
        padding-left: 15px;

        // OFFSET GŁÓWNEGO LOGA OD KRAWĘDZI
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            font-size: 24px;
        }

        @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
            font-size: 24px;
        }

        a {
            display: flex;
            color: var(--first-word-logo);
            text-decoration: none;

            &:hover,
            &:focus {
                color: var(--hover-focus);
                transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
                outline: none;
            }

            span {
                color: var(--second-word-logo);
            }
        }
    }

    &__link--active {
        &::after {
            content: "";
            width: 100%;
            height: 4px;
            background-color: var(--bg-color);
            position: absolute;
            border-radius: 2px;
            top: 44px;
            left: 0px;
        }
    }


    &__nav {

        // min. szerokość agencja - portfolio - kontakt:
        @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
            display: flex;
            // max-width: 282px;
            justify-content: space-between;
            align-items: stretch;
        }
    }

    &__topbar-menu {
        list-style-type: none;
        margin: 0px;

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            display: none;
            margin: auto;
        }

        @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
            display: flex;
            // min-width: 282px;
            justify-content: space-between;
            align-items: stretch;
            // margin: auto;
            gap: 60px;
        }

        li {
            display: inline-block;

            @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
                display: flex;
                justify-content: space-between;
                // margin-right: 0;
                align-items: stretch;
            }

            &:not(:last-child) {
                margin-right: 58px;

                @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
                    margin-right: 0;
                }
            }

            a {
                font-weight: 500;
                font-size: 14px;
                color: var(--MainFontColor);
                text-decoration: none;
                line-height: 1.14;
                letter-spacing: 0.02em;

                // @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
                //     padding-left: 5px;
                // }

                &:hover,
                &:focus {
                    color: var(--top-hover-focus);
                    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
                    outline: none;
                }
            }
        }
    }

    &__link {
        position: relative;
        transition-duration: 500ms;

        @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
            display: inline;
            padding: 5px 0 5px 0;
        }

        &:hover,
        &:focus {
            color: var(--bg-color);
            text-decoration: none;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            outline: none;
        }
    }

    &__contact-us {
        list-style: none;
        padding-left: 364px;

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            display: none;
        }

        @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
            padding-left: 0;
            padding-right: 15px;
        }

        @media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
            padding-left: 0;
            padding-right: 15px;
        }

        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: .02em;
            color: var(--top-contact-us);
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
                justify-content: flex-start;
                font-size: 12px;
            }

            &:hover,
            &:focus {
                color: var(--top-hover-focus);
                transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
                outline: none;
            }
        }

        li {
            display: inline-block;

            &:last-child {
                padding-left: 50px;

                @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
                    display: inline;
                    padding-left: 0;
                }
            }
        }
    }

    &__icon-top {
        fill: var(--top-contact-us);

        &:hover,
        &:focus {
            fill: var(--top-hover-focus);
            transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
            outline: none;
        }
    }

    &__icon-mail,
    &__icon-phone {
        display: inline-flex;
        margin-right: 10px;
    }
}