
@media (min-width: 1200px) 
{
    .portfolio 
    {
    max-width: 1200px;

        &__buttons-bar 
        {
            padding-bottom: 50px;
        }

        &__button-details 
        {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }

        &__button-detail 
        {
            display: inline-block;
            list-style: none;

            button[type=button] 
            {
                font-weight: 500;
                font-size: var(--font-size16);
                line-height: 1.6;
                text-align: center;
                letter-spacing: 0.03em;
                background: #f5f4fa;
                border-radius: 4px;
                border: 0px;
                padding: 6px 22px;
                cursor: pointer;
                transition-duration: 500ms;

                &:hover,
                &:focus
                {
                    background: var(--top-hover-focus);
                    color: var(--fill);
                    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
                    outline: none;
                }
            }
        }
    }
}