@media (min-width: 1200px) 
{
    .team 
    {
        background-color: #f5f4fa;
        max-width: 1200px;
        margin: 0 auto;

        &__join-us:focus 
        {
            fill: var(--bg-color);
            border: 1px solid var(--bg-color);
            border-radius: 50%;
            text-align: center;
            padding: 10px;
            outline: none;
            transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
        }
        h2 
        {
            color: #212121;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            letter-spacing: 0.03em;
            text-align: center;
            margin: 0;
            padding-bottom: 50px;
        }
        &__details 
        {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        
            margin: 0;
            padding: 0;
        }
        &__detail 
        {
            list-style: none;
        }
        &__box
        {
            width: 270px;
            background: #fff;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
        &__name 
        {
            color: #212121;
            font-weight: 500;
            font-size: var(--font-size16);
            line-height: 1.18;
            text-align: center;
            letter-spacing: 0.03em;
        }
        &__position 
        {
            color: var(--top-contact-us);
            font-size: var(--font-size16);
            line-height: 1.18;
            text-align: center;
            letter-spacing: 0.03em;
            padding-bottom: 15px;
        }
        &__socialMedia 
        {
            padding-bottom: 30px;

            .team__details 
            {
                list-style: none;
                margin: 0;
                padding: 0 32px;
                gap: 0;
                width: 100%;
            }
            .team__detail {
                display: inline-flex;
                fill: #afb1b8;

                width: 44px;
                height: 44px;
                margin-top: 10px;

                justify-content: center;
                align-items: center;
            }
            .team__detail 
            {
                transition-duration: 500ms;
                border-radius: 50%;

                &:focus,
                &:hover 
                {
                    background: rgba(255, 255, 255, 0.1);
                    background: var(--bg-color);
                    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
                    fill: var(--fill);
                    outline: none;
                }
            }
        }
    }
}
