:root 
{
    --website-header-border: #ececec;
    --first-word-logo: #000;
    --second-word-logo: #2196f3;
    --hover-focus: #000;
    --top-bar: #212121;
    --top-hover-focus: #2196f3;
    --top-contact-us: #757575;
    --body-color: #2f303a;
    --switch-layer: #fff;
    --bg-color: #2196f3;
    --bg-color-2: #f5f4fa;
    --border-color: #eeeeee;
    --fill: #fff;

    --font-size16: 16px;
}